# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
out
.next
.nuxt
.output
.cache

# Testing
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript
*.tsbuildinfo

# Turborepo
.turbo

# Vite
vite.config.js.timestamp-*  